:root {
  font-family: "Montserrat", sans-serif;
  --font-title-size: 40px;
  --font-img-size: 30px;
  --font-subtit-size: 24px;
  --font-litit-size: 18px;
  --font-ctn-size: 14px;
  --font-anchor-size: 12px;
}

/* reset */
h1,
h2,
p,
body {
  margin: initial;
  padding: initial;
}
button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
}
/* //reset */
/* 숨김 처리 */
.txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* /숨김 처리 */
/* 레이아웃 */
.section {
  padding: 100px 0;
}

.section-events {
  background-color: seashell;
}

.section-zigzag {
  background-color: #673399;
}

.l_wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
/* //레이아웃 */
/* header */
.header {
  display: flex;
  gap: 120px;
  align-items: center;
}

.plus-btn {
  justify-content: space-between;
}

.header-title {
  flex-shrink: 0;
  font-size: var(--font-title-size);
  font-weight: 500;
}
.header-title strong {
  font-weight: 500;
}
.header-title.lg {
  flex-basis: 344px;
  color: salmon;
}
.header-title.lg > strong {
  box-shadow: inset 0 -0.5em 0 #fff;
}

.header-title.md {
  flex-basis: 26%;
  color: #fff;
}
.header-title.md > strong {
  box-shadow: inset 0 -0.5em 0 orangered;
}

.header-contents {
  max-width: 400px;
  color: #bd8fe8;
  min-width: 0;
  position: relative;
}

.header-contents::before {
  position: absolute;
  content: "";
  width: 80px;
  top: 50%;
  left: -120px;
  transform: translateY(-50%);
  border: 1px solid;
}

.header-btn {
  background-color: orangered;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgb(168, 45, 0);
}
/* //header */
/*  */
