@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@500;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  --font-title-size: 40px;
  --font-img-size: 30px;
  --font-subtit-size: 24px;
  --font-litit-size: 18px;
  --font-ctn-size: 14px;
  --font-tag-size: 12px;
}

/* reset */
h1,
h2,
h3,
p,
ul,
li,
a,
body {
  margin: initial;
  padding: initial;
}
button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: inherit;
}
strong {
  font-weight: 500;
}
/* // reset */
/* 숨김 처리 */
.txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* /숨김 처리 */
/* 레이아웃 */
.section {
  padding: 100px 10px;
}

.section-events {
  background-color: seashell;
}

.section-zigzag {
  background-color: #673399;
}

.l_wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
/* // 레이아웃 */
/* header */
.header {
  display: flex;
  gap: 120px;
  align-items: center;
}

.plus-btn {
  justify-content: space-between;
}

.header-title {
  flex-shrink: 0;
  font-size: var(--font-title-size);
  font-weight: 500;
}

.header-title.lg {
  flex-basis: 344px;
  color: salmon;
}
.header-title.lg > strong {
  box-shadow: inset 0 -0.5em 0 #fff;
}

.header-title.md {
  flex-basis: 26%;
  color: #fff;
}
.header-title.md > strong {
  box-shadow: inset 0 -0.5em 0 orangered;
}

.header-contents {
  max-width: 400px;
  color: #bd8fe8;
  min-width: 0;
  position: relative;
}

.header-contents::before {
  position: absolute;
  content: "";
  width: 80px;
  top: 50%;
  left: -120px;
  transform: translateY(-50%);
  border: 1px solid;
}

.header-btn {
  background-color: orangered;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgb(168, 45, 0);
  flex-shrink: 0;
  transition: transform 0.1s;
}
/* // header */
/* main */
.contents {
  margin-top: 100px;
  display: flex;
  gap: 24px;
}
.contents.column {
  flex-direction: column;
}
/* // main */
/* product-card */
.product-card {
  flex-basis: 344px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 0;
  box-shadow: 1px 1px 8px 0 #ccc;
  transition: transform 0.2s;
}

.product-contents {
  padding: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  border-top: 4px solid #000;
}

.product-cover {
  position: relative;
}

.product-cover img {
  max-width: 100%;
  max-height: 100%;
}

.product-tag {
  min-height: 49px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-tag span {
  display: inline-block;
  background-color: #f1e0f8;
  color: #673399;
  font-weight: bold;
  font-size: var(--font-tag-size);
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.product-title {
  font-size: var(--font-subtit-size);
  margin-bottom: 32px;
  flex-shrink: 0;
  min-height: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-text {
  color: gray;
  font-weight: 500;
  font-size: var(--font-ctn-size);
  flex-grow: 1;
  min-height: 126px;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.product-footer {
  border-top: 3px solid #eee;
  margin-top: 24px;
  margin-right: -24px;
  height: 68px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: var(--font-tag-size);
  color: gray;
  font-weight: bold;
  justify-content: space-between;
}

.badge {
  position: absolute;
  top: -10px;
  left: -10px;
}

.sold-out {
  font-weight: 500;
}

.people {
  margin-right: 20px;
}

.people img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.people img + img {
  margin-left: -15px;
}
/* // product-card */
/* project-card */
.project-card {
  display: flex;
  background: white;
  transition: transform 0.2s;
  min-height: 150px;
}

.project-cover {
  position: relative;
  flex-basis: 26%;
  flex-shrink: 0;
}

.project-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-cover h3 {
  position: absolute;
  color: #fff;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-img-size);
  background-color: rgba(103, 51, 153, 0.4);
}

.project-contents {
  padding: 24px;
}

.project-contents h3 {
  color: #673399;
  font-size: var(--font-litit-size);
  margin-bottom: 32px;
}

.project-lists {
  font-size: var(--font-ctn-size);
  font-weight: 500;
}

.project-lists li {
  padding-left: 20px;
  position: relative;
}

.project-lists li + li {
  margin-top: 10px;
}

.project-lists li::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bd8fe8;
}
/* 짝수번째 project-card 역순배치 */
.project-card:nth-child(even) {
  flex-direction: row-reverse;
}
/* // project-card */
/* hover effect */
.project-card:hover,
.product-card:hover {
  transform: translate(-3px, -3px);
}

.product-text:hover {
  display: inline;
}

/* // hover effect */
/* ctive effect */
.header-btn:active {
  transform: scale(0.95);
}
/* // active effect */
/* 반응형 media query */
@media (max-width: 1030px) {
  /* section-zigzag header 반응형 */
  .header.plus-ctn {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  .header-title.md {
    width: 280px;
  }
  .header-contents::before {
    display: none;
  }
  /* //  section-zigzag header 반응형 */
}

@media (max-width: 768px) {
  /* section-events header 반응형 */
  .header.plus-btn {
    display: block;
  }
  .header-title.lg {
    width: 344px;
    margin-bottom: 20px;
  }
  /* //  section-events header 반응형 */
  /* product-card 반응형 */
  .contents {
    flex-direction: column;
  }
  /* // produci-card 반응형 */
  /* project-card 반응형 */
  .project-card,
  .project-card:nth-child(even) {
    flex-direction: column;
  }
  /* //  project-card 반응형 */
}
